form.add_new_form {

    width: 40%;
    height: 700px;
    position: absolute;
    z-index: 99999;
    overflow-x: hidden;
    overflow-y: auto;

    margin: auto;
    margin-left: 150px;
    margin-top: -80px;
    padding-left: 30px;
    padding-right: 30px;

    background: white;
    box-shadow: 0px 0px 19px 3px darken(white,25%);

    .new_image {

        width: 100%;
        padding: 12px;
        margin-left: 75px;

        label {
            span {
                vertical-align: top;
                font-size: 1.3em;
                margin-left: -130px;
            }
        }

        label.web_cam {
            margin-left: 10px;
        }

        label.file {
            margin-left: 10px;
        }
    }

    .new_cred {
        .name {
        }
    }

}


.preview_picture {
    height: 300px;
    width: 70%;
    margin-bottom: 15px;
    margin-top: 12px;

    background: white;
    box-shadow: 0px 0px 19px 3px darken(white,25%);
}

label:not(.web_cam,.file) {
    display: block;
    margin-top: 30px;
    input,select {
        margin-left: 20px;
        width: 60%;
        padding: 12px;
        border-radius: 12px;
        border: none;
        border: 1px solid lighten(black,80%);
    }

}

.firstname {
    margin-top: 10px !important;
}

.firstname,.lastname {
    input {
        margin-left: 60px !important;
    }
}

.stations {
    select {
        margin-left: 70px !important;
        width: 65% !important;
        background: white;
    }
}

.dob {
    input {
        margin-left: 40px !important;
    }
}

.commencementdate {
    input {
        margin-left: 60px !important;
    }
}

.btn_handler {
    float: right;
    margin-top: 12px;
    margin-right: 50px;
    margin-bottom: 12px;
    button {
        @extend %buttons;
        &:last-of-type {
            margin-left: 12px;
        }
        &:nth-of-type(2) {
            margin-left: 12px;
        }
    }
}

.capture {
    @extend %buttons;
    margin-left: 150px;
}

.file_upload {
    margin-left: 70px;
    width: 60%;
}

label.required {
    span:after {
        content: " *";
        color: red;
    }
}


.add_new {
    float: right;
    margin-top: 12px;
    margin-right: 35px;
    @extend %buttons;
}
