@import "button.scss";
@import "state_of_crime.scss";

#asides {
    .user-nav-aside {
        display: inline-flex;
        max-width: 200px;
        background: black;
        height: 1000px;
        .user-nav-item {
            list-style: none;
            width: 196.555px;
            margin-top: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover {
                a {
                    color: darken(white,25%);
                }
            }
            a {
                color: darken(white,40%);
                font-size: 22px;
                display: flex;
                text-align: center;
                justify-content: center;
            }
        }
        .user-nav-item.active {
            background: darken(white,70%);
        }
    }
}


#second_aside {
    float: right;
    width: 80%;
    //margin-right: 200px;
    margin-top: 25px;
    overflow-y: auto;
    height: 600px;
}

.report_crime,
.aside_class {
    padding: 9px;
    p {
        font-weight: bolder;
        font-style: italic;
        text-align: center;
        font-size: 25px;
    }
    div {
        margin: 40px;
        margin-top: 20px;
        span {
            font-size: 20px;
            font-family: sans-serif;
        }
        input {
            @extend %input;
        }
        select {
            @extend %input;
            background: white;
            margin-left: 90px;
        }
        button {
            @extend %buttons;
            margin-top: -20px;
        }
        .crime-btn-reset {
            margin-left: 15px;
        }
    }
}

.report_name:last-of-type {
    margin-left: 25px;
}

.report_address {
    input {
        width: 600px;
    }
}

.crime_location {
    input {
        width: 700px;
    }
}


.previous_crime {
    /* > p { */
    /*     margin-left: 85px; */
    /* } */
}

.crimelist {
    
    .crime_list_item {
        
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        margin-left: -20px;
        line-height: 1.5;
        border: 3px solid darken(white, 12%);
        margin-top: 20px;
        
        &:not(:first-of-type) {
            margin-top: 30px;
        }

        
        > p {
            font-weight: initial;
            margin-top: 2px;
            text-align: initial;
            font-size: 20px;
        }
    }   
}

.showMore {
    @extend %buttons;
    margin-left: 520px;
    margin-top: 25px;
}

.update_profile {
    
    span.required:after {
        content: "  *";
        color: red;
    }
    @extend %reg-update-form;
}

.picture {
    @extend %preview-picture;
}

.last-name {
    margin-left: 25px;
    @extend %last-name;
}

.address {
    @extend %address;
}

.btn-handler {
    button {
        @extend %buttons;
    }
    button:last-of-type {
        margin-left: 15px;
    }
}

.noCrime {
    //margin-top: 150px;
}

[name="content"] {
    display: block;
    resize: none;
    width: 700px;
    height: 200px;
    margin-top: 20px;
}
