@import "button.scss";

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

header {

    padding: 12px;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 98.1%;

    background: white;
    box-shadow: 0px 0px 19px 3px darken(white,25%);

    .admin-descr {
        float: left;
        width: 80%;
        font-size: 1.5em;
        margin-left: 30px;
    }

    .admin-logout {
        float: right;
        font-size: 1.5em;
        margin-right: 30px;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.admin-aside1 {
    float: left;
    display: inline-flex;
    width: 200px;
    height: 769px;
    background: black;
    box-shadow: 0px 0px 46px -7px black;
    .admin-nav {
        padding: 30px;
        padding-left: 0;
        width: 100%;
        .admin-nav-parent {
            width: 100%;
            li {
                margin-top: 50px;
                font-size: 1.5em;
                padding: 12px;
                width: 100%;
                a {
                    color: white;
                    &:hover {
                        text-decoration: underline;
                    }

                }
            }
        }
    }
}

.active {
    background: lighten(black,10%);
}

.admin-aside2 {
    float: right;
    width: 1020px;
    margin-right: 20px;
}

.add_police {
    float: right;
    margin-top: 12px;
    margin-right: 35px;
    @extend %buttons;
}

.badResult {
    clear: right;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    top: 30px;
    color: darken(white,50%);
}


form.add_police_form {

    width: 40%;
    height: 800px;
    position: absolute;
    z-index: 99999;
    overflow-x: hidden;
    overflow-y: auto;

    margin: auto;
    margin-left: 150px;
    margin-top: -80px;
    padding-left: 30px;
    padding-right: 30px;

    background: white;
    box-shadow: 0px 0px 19px 3px darken(white,25%);

    .police_image {

        width: 100%;
        padding: 12px;
        margin-left: 75px;

        .preview-picture {
            height: 300px;
            width: 70%;
            margin-bottom: 15px;
            margin-top: 12px;

            background: white;
            box-shadow: 0px 0px 19px 3px darken(white,25%);
        }


        label {
            span {
                vertical-align: top;
                font-size: 1.3em;
                margin-left: -130px;
            }
        }

        label.web_cam {
            margin-left: 10px;
        }

        label.file {
            margin-left: 10px;
        }
    }

    .police_cred {
        .name {
        }
    }

}

label:not(.web_cam,.file) {
    display: block;
    margin-top: 30px;
    input,select {
        margin-left: 20px;
        width: 60%;
        padding: 12px;
        border-radius: 12px;
        border: none;
        border: 1px solid lighten(black,80%);
    }

}

.firstname {
    margin-top: 10px !important;
}

.firstname,.lastname {
    input {
        margin-left: 60px !important;
    }
}

.stations {
    select {
        margin-left: 70px !important;
        width: 65% !important;
        background: white;
    }
}

.dob {
    input {
        margin-left: 40px !important;
    }
}

.commencementdate {
    input {
        margin-left: 60px !important;
    }
}

.btn_handler {
    float: right;
    margin-top: 12px;
    margin-right: 50px;
    margin-bottom: 12px;
    button {
        @extend %buttons;
        &:last-of-type {
            margin-left: 12px;
        }
        &:nth-of-type(2) {
            margin-left: 12px;
        }
    }
}

.capture {
    @extend %buttons;
    margin-left: 150px;
}

.file_upload {
    margin-left: 70px;
    width: 60%;
}

label.required {
    span:after {
        content: " *";
        color: red;
    }
}

.police_info {
    clear: both;
    width: 100%;
    height: 700px;
    padding-bottom: 50px;
    margin-top: 50px;
    overflow-x: auto;

    .police_info_list {
        background: white;
        box-shadow: 0px 0px 10px 3px darken(white,25%);
        display: inline-block;
        margin-top: 20px;
        margin-left: 15px;
        p {
            text-align: center;
            margin-top: 12px;
            color: darken(white,50%);
            font-style: italic;
            &:last-of-type {
                margin-bottom: 10px;
            }
        }
        .image-preview {
            height: 300px;
        }
        .ctrlbtn {
            button {
                @extend %buttons;
                margin: 5px;
            }
        }
    }
}

.cover {
    height: 480px;
    background: black;
    position: relative;
    //opacity: .88;
    margin-top: -480px;

    animation-name: animateCover;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.station_list {
    position: absolute;
    background: darken(white,2%);
    width:100px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: black;
    font-size: 1.3em;

    .station_item:not(:first-of-type) {
        margin-top: 5px;
    }

    .station_item {
        &:hover {
            background-color: lighten(red,20%);
        }
    }
}


@keyframes animateCover {
    @for $i from 1 through 40 {
        #{$i}% {
            opacity: unquote(unquote(".") + $i);
        }
    }
}
