@import "button.scss";
@import "state_of_crime.scss";
@import "assign.scss";
@import "reported_crime.scss";
@import "add_new_modal.scss";
@import "station_list.scss";
@import "police_info.scss";
@import "criminal.scss";
@import "news.scss";
@import "station.scss";
@import "search.scss";
@import "animation.scss";

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

header {

    padding: 12px;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 98.1%;

    background: white;
    box-shadow: 0px 0px 19px 3px darken(white,25%);

    .admin-descr {
        float: left;
        width: 30%;
        font-size: 1.5em;
        margin-left: 30px;
    }

    .err {
        display: inline;
        text-align: center;
        color: red;
        clear: left;
        margin-left: 200px;
    }

    .admin-logout {
        float: right;
        font-size: 1.5em;
        margin-right: 30px;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.admin-aside1 {
    float: left;
    display: inline-flex;
    width: 200px;
    height: 800px;
    background: black;
    box-shadow: 0px 0px 46px -7px black;
    .admin-nav {
        padding: 30px;
        padding-left: 0;
        width: 100%;
        .admin-nav-parent {
            width: 100%;
            li {
                margin-top: 50px;
                font-size: 1.5em;
                padding: 12px;
                width: 100%;
                a {
                    color: white;
                    &:hover {
                        text-decoration: underline;
                    }

                }
            }
        }
    }
}

.active {
    background: lighten(black,10%);
}

.admin-aside2 {
    float: right;
    width: 80%;
    margin-right: 20px;
}


.badResult {
    clear: right;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    top: 30px;
    color: darken(white,50%);
}
