@import "button.scss";

body {
    overflow-y: auto;
}

#reg-form {
    margin-top: 30px;
    padding: 30px;
    font-size: 20px;
    font-family: sans-serif;
    @extend %reg-update-form;
}

.picture {
    @extend %preview-picture;
}

.last-name {
    margin-left: 25px;
    @extend %last-name;
}


.address {
    @extend %address;
}


span.required:after {
    content: "  *";
    color: red;
}

.gender {
    .male-gender {
        margin-left: 100px;
    }
    .female-gender {
        margin-left: 50px;
    }
}

.btn-handler {
    .submit, .reset {
        @extend %buttons;
    }

    .reset {
        margin-left: 20px;
    }
}

p.err {
    margin-left: 20px;
}

