@import "button.scss";

body {
    overflow-y: auto;
}

#reg-form {
    margin-top: 30px;
    padding: 30px;
    font-size: 20px;
    font-family: sans-serif;
    @at-root {
        form {
            margin-left: 50px;
            > div {
                padding: 20px;
                label {
                    input {
                        @extend %input;
                    }
                    input[type="file"] {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.picture {
    .preview-picture {
        height: 150px;
        width: 15%;
        border: 2px solid black;
    }
    input {
        margin-top: 12px;
    }
}

.last-name {
    span {
        margin-left: 20px;
    }
}


.address {
    input {
        width: 50%;
    }
}

span.required:after {
    content: "  *";
    color: red;
}

.gender {
    .male-gender {
        margin-left: 100px;
    }
    .female-gender {
        margin-left: 50px;
    }
}

.btn-handler {
    .submit, .reset {
        @extend %buttons;
    }

    .reset {
        margin-left: 20px;
    }
}

p.err {
    margin-left: 20px;
}

