section#banner
  div.banner-img-container
    img(src="/assets/police_banner.jpg")
  div.banner-text-container
    p  Make Our Society Safer And More Secure By
    p  Reporting on going crimes through
    p  The Nigerian Police Management System
    
    p.motto Motto: To Protect Lives and Properties
