extends account.pug

append asides
  aside#second_aside.aside_class.previous_crime
    p Previous Reported Crime
    ul.crimelist
      if ( ! crerr )
        each value in crime
          li.crime_list_item
            p.date Date Reported:  #{value.crimes.crime_date}
            p.location Location Of Crime: #{value.crimes.crime_location}
            p.type Crime Type:  #{value.crimes.crime_type}

    button.showMore More
