extends ./head.pug

append link
  link(rel="stylesheet" href="/scss/register.scss")
  

block content
  include nav.pug
  section#reg-form
    form(method="POST" action="/register")
      p.err= regerr
      div.picture
        label.upload-picture
          p Upload Photo 
          div.preview-picture
          input(type="file" name="picture" required)

      div.name-fields

        label.first-name
          span.required First Name 
          input(type="text" name="firstName" placeholder="input first name" required)

        label.last-name
          span.required Last Name 
          input(type="text" name="lsatName" placeholder="input last name" required)

      div.address
        label.address-one
          span.required Address One 
          input(type="text" name="addresOne" placeholder="Add Address" required)

      div.address
        label.address-two
          span.required Address Two 
          input(type="text" name="addressTwo" placeholder="Add Second Address" required)

      div.number
        label.phone-number
          span.required Phone Number 
          input(type="telephone" name="phoneNumber" required)
          
      div.gender
        span.required Gender
        
        label.male-gender
          span Male
          input(type="radio" name="gender" value="male" required)
          
        label.female-gender
          span Female
          input(type="radio" name="gender" value="female" required)
      
      div.bvn-number
        label.bvn
          span.required Bank Verification Number
          input(type="number" name="bvn" placeholder="input bvn number here" required)

      div.date-of-birth
        label.dob
          span.required Date Of Birth 
          input(type="date" name="dob" required)

      div.tmb
        label.thumb-print
          span.required Thumb Print 
          div.tmb-print
          
      div.login-name
        label.user-username
          span.required Username
          input(type="text" placeholder="username" name="username" class="username" required)
        
      div.login-pwd
        label.user-password
          span.required Password
          input(type="password" name="password" class="password" required)
      
      div.confirm-pwd
        label.user-confirm_password
          span.required Confirm Password
          input(type="password" name="confirm_password" class="confirm_password" required)
          
      div.btn-handler
        button.submit Submit
        button(type="reset" class="reset")  Reset
        
  script(src="/js/register.js")