aside.user-nav-aside
  nav.user-nav
    li.user-nav-item.active
      a(href="/account/update_profile") Profile
    li.user-nav-item
      a(href="/account/report_crime") Report Crime
    li.user-nav-item
      a(href="/account/crime_reported") Previous Crime Reported
    li.user-nav-item.logout
      a(href="/account/logout") Logout